@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* BAse styling */
body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Navbar Styling */
.nav-bar {
    background-color: #304353;
    color: #88949B;
    height: 70px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-bar .flex {
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
}

.nav-bar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.nav-bar a:hover {
    border-bottom: 3px #fff solid;
}

/* Hero section */
div.hero-section {
    background: #304353;
    padding: 10rem;
}

div.hero-content-heading {
    text-align: center;
}

div.hero-content-heading h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #bcc3c7;
}

div.hero-content-heading p {
    text-align: center;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

div.hero-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.hero-content-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.hero-background {
    background: #f0f0f0;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: auto;
    position: relative;
}

div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.snapshot-box .flex {
    flex-wrap: wrap;
}

div.snapshot-box-content {
    display: flex;
    justify-content: space-between;
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 220px;
    height: 230px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 2rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 1rem;
}

div.gallery-section {
    background: #fff;
    padding: 4rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.gallery-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 3rem;
}

div.img {
    margin: 10px;
}

div.img img {
    width: 250px;
    height: 180px;
}

div.footer {
    background: #304353;
    padding: 3rem;
}

div.footer-content {
    text-align: center;
}

div.footer-content h4 {
    color: #bcc3c7;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 25%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

::placeholder {
    color: #A6A5AA;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    width: 51%;
    height: 150px;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
}

div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 1rem;
    padding-top: 6rem;
}
  
/*  Tablets and Under media queries */
@media (max-width: 768px) {
    .hero-content-heading {
        text-align: center;
    }

    .hero-background-pos {
        position: absolute;
        width: 70px;
        height: 70px;
        background: #fff;
    }
}

/*  Mobile  */
@media (max-width: 500px) {
    .nav-bar {
        height: 110px;
       
    }
    .nav-bar .flex {
        flex-direction: column;
    }
    .nav-bar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .nav-bar .logo {
        font-size: 30px;
    }
  
    div.hero-section {
        background: #304353;
        padding: 3rem;
        margin-top: 25px;
    }
    div.hero-background-pos {
        position: absolute;
        width: 70px;
        height: 70px;
        background: #fff;
        right: 0px;
        left: 66%;
    }
}